/* This is a button with our primary color and a white text inside for call to action */

.button-primary {

    background: #6772e5;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    text-decoration: none;
    color: #fff;
    transition: all .15s ease;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    list-style: none;
    -webkit-box-direction: normal;
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "pnum";
    font-variant-numeric: proportional-nums;
}



